<!doctype html>
<html lang="pt-br">
<head><meta charset="utf-8"><meta name="viewport" content="width=device-width,initial-scale=1"><title>Arquivo</title><link rel="stylesheet" href="/static/css/dark.css"></head>
<body>
<nav class="nav"><div class="brand">FileCloudX</div></nav>
<main class="container">
  <h2>Arquivo</h2>
  <p><strong>ID:</strong> {{ fid }}</p>
  <p><strong>Nome original:</strong> {{ meta.original }}</p>
  <p><a class="btn primary" href="/d/{{ fid }}">Baixar</a></p>
  <p><a href="/">Voltar</a></p>
</main>
</body>
</html>
